body,
html {
  height: 100%;
}
body {
  background-image: url(../images/weather.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: 14px;
}
header {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
form {
  display: block;
  margin: 0 auto;
}
h2 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
}
button:hover {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

div.container {
  background-image: linear-gradient(
    to top,
    #d8eeee,
    #d8eeee 25%,
    #64b3c9 65%,
    #005986 90%,
    #005986
  );

  border-radius: 10px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  font-family: "PT Sans Caption", sans-serif;
  display: block;
  margin: 5% auto 0;
  padding: 50px;
  width: fit-content;
}
header.card {
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
div.card-body {
  padding: 5px;
}
input.inputLocation {
  border: none;
  width: 110%;
}

h1.currentLocation {
  font-size: 22px;
  font-weight: bold;
}

div.currentWeather {
  text-align: center;
  padding: 20px 0;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px 3px rgb(64 60 67 / 16%);
  width: 45%;
}
span.temperature {
  font-weight: bold;
}
span.units {
  font-size: 20px;
  position: relative;
  bottom: 8px;
}
a.degree {
  text-decoration: none;
  font-size: 20px;
}
div.forecastRow {
  margin-top: 24px;
}
div.forecastCol {
  background-color: #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  padding: 20px 0 20px;
  margin: 5px;
}
div.footer {
  font-family: "PT Mono", monospace;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 10px auto;
}
a.footer {
  color: #fff;
}
